##Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project

##Intellij
.idea/copyright/
.idea/*.xml
*.iml
.idea/libraries
.idea/dictionaries/
.idea/inspectionProfiles/
/target/
/bin/
